
@model List<Pruebita.Models.Producto>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    @foreach (var p in Model) //se pone el Model porque ahora se hace referencia a la lista de productos que se le pasó a esta vista parcial desde ListaP.cshtml
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nombre</td>
            <td>@p.Categoria.Nombre</td>
            <td>@p.Descripcion</td>
            <td>@p.Precio</td>
            <td>
                <form action="/Productos/EliminarP" class="frm-btn" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@p.Id" />
                    <button type="submit" class="btn-eliminar" onclick="return confirm('¿Desea eliminar este producto?')">Eliminar</button>
                </form>
                <form action="/Productos/AgregarAlCarrito" class="frm-btn" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@p.Id" />
                    <button type="submit" class="btn-carrito">Agregar al carrito</button>
                </form>
            </td>
        </tr>
    }
</table>

